<B5>4 Comments</B5>
<form class="comments-form">
	<div class="form-row">
		<textarea class="comment-content" id="content" cols="37" rows="10"></textarea>
	</div>
	<div class="form-row">
		<label>Email: </label>
		<input type="email" class="emailId" id="emailId"></input>
		<button class="btn btn-info btn-xs">Post</button>
	</div>
	<ul class="comments-list">
			<%_.each(comments, function(comment){%>
			<li>
				<small class="muted">Posted by <%=comment.get('emailId')%> a few seconds ago...</small></br>
				<B4><%=comment.get('commentMsg')%></B4>
			</li>
			<%});%>
	</ul>
</form>